<div class="container">
  <div class="row">

    <div class="col">

        <div class="row">
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
                <p>Customizable Touch Controls</p>
            </div>
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
                <p>Built-in Equalizer</p>
            </div>
            <div class="col">
                <img src="..." class="card-img-top" alt="...">
                <p>Active Noise Cancellation</p>
            </div>
        </div>
        <!-- <div class="card" style="width: 18rem;">
            <p>Screen width: {{ screenWidth }}</p>
            <p>Screen height: {{ screenHeight }}</p>
        </div> -->
    </div>

    <div class="col overflow-auto" [ngStyle]="calculateStyles()">

        <div class="row">
            <div class="col">
                <h5> NEW RELEASE </h5>
                <h1> title </h1>
                <h2> subtitle </h2>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h4>STARTING AT</h4>
                <h2>price</h2>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                Overview
            </div>
            <div class="col">
                Features
            </div>
            <div class="col">
                What's in the box?
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only
                     five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
                     popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
                     recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h4>Choose your finish</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <h4>text</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h4>text</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h4>Would you like yo add extended warranty coverage?.</h4>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="col">
                    <h4>text</h4>
                    <p>Lorem Ipsum is simply dummy text </p>
                 </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card">
                <div class="col">
                    <h4>text</h4>
                    <p>Lorem Ipsum is simply dummy text </p>
                 </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h4>Features.</h4>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="col">
                    <p>Lorem Ipsum is simply dummy text </p>
                 </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card">
                <div class="col">
                    <p>Lorem Ipsum is simply dummy text </p>
                 </div>
            </div>
        </div>


        <br>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <h4 class="card-title">Specifications.</h4>
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>

    </div>

  </div>
</div>