<div class="container">
    <app-header></app-header>

  <div class="row">

    <div class="col-md-12 col-lg-6">

        <div class="row">
            <div class="col d-flex justify-content-center img-thumbnail" style="margin: 5px; border-radius: 15px;">
                <img src="./../../../assets/Sennheiser1.png" style="max-width: 60%; height: auto;" alt="...">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col d-flex justify-content-center img-thumbnail" style="margin: 5px; border-radius: 15px;">
                <img src="./../../../assets/Sennheiser2.png" style="max-width: 60%; height: auto;" alt="...">
            </div>
            <div class="col d-flex justify-content-center img-thumbnail" style="margin: 5px; border-radius: 15px;">
                <img src="./../../../assets/Sennheiser3.png" style="max-width: 60%; height: auto;" alt="...">
            </div>
            <div class="col d-flex justify-content-center img-thumbnail" style="margin: 5px; border-radius: 15px;">
                <img src="./../../../assets/Sennheiser4.png" style="max-width: 60%; height: auto;" alt="...">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img src="./../../../assets/Path.png" style="max-width: 15%; height: auto;" alt="...">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center">
                            <p>Customizable Touch Controls</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img src="./../../../assets/Shape.png" style="max-width: 15%; height: auto;" alt="...">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center">
                            <p>Built-in Equalizer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img src="./../../../assets/Combined.png" style="max-width: 15%; height: auto;" alt="...">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center">
                            <p>Active Noise Cancellation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card" style="width: 18rem;">
            <p>Screen width: {{ screenWidth }}</p>
            <p>Screen height: {{ screenHeight }}</p>
        </div> -->
    </div>

    <div class="col-md-12 col-lg-6 overflow-auto" [ngStyle]="calculateStyles()">

        <div class="row">
            <div class="col">
                <h5> NEW RELEASE </h5>
                <h1> {{product.titulo}} </h1>
                <h2> {{product.subtitulo}} </h2>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h4>STARTING AT</h4>
                <h2>{{product.price}}</h2>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                Overview
            </div>
            <div class="col">
                Features
            </div>
            <div class="col">
                What's in the box?
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{product.overview}}</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h5>Choose your finish</h5>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of product.types" class="col">
                <div class="card" style="padding: 20px; border-radius: 15px;">
                    <h6>{{ item.titulo }}</h6>
                    <p>{{ item.descripcion }}</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h5>Would you like yo add extended warranty coverage?.</h5>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of product.warranty">
                <div class="col card" style="padding: 20px; margin: 5px; border-radius: 15px;">
                    <h6>{{ item.titulo }}</h6>
                    <p>
                        <span style="float: left;">{{item.descripcion}}</span>
                        <span style="float: right;">{{item.cost}}</span>
                    </p>
                 </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <h5>Features.</h5>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of product.features">
                <div class="col card" style="padding: 10px; margin: 5px; border-radius: 15px;">
                    <h6>
                        <span style="float: left;">{{item.titulo}}</span>
                        <span style="float: right;">{{item.cost}}</span>
                    </h6>
                 </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <h5 class="card-title">Specifications.</h5>
                    <li *ngFor="let element of product.specifications" class="list-group-item">
                        <span style="float: left;">{{element.item}}</span>
                        <span style="float: right;">{{element.descripcion}}</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

  </div>

  <app-footer [itemPrice]="product.price"></app-footer>
</div>